
#content {
	margin-right: 0px;
	padding-right: 20px;
	max-width : 760px;
	width:expression(document.body.clientWidth > 800?"760px":"auto");
}

#right {
	display : none;
}

#navigation {
	display : none;
}

#breadcrumb {
	display : none;
}

#customer {
	display : none;
}

#footer {
	display : none;
}

#left {
	margin : 10px 0 0 10px;
}